## Allow overriding allowed hosts via env, e.g., NUXT_ALLOWED_HOSTS="example.com,foo.com"
NUXT_ALLOWED_HOSTS=

NUXT_PUBLIC_USE_TAB_B24FRAME=false

# GitHub Pages defaults for bitrix-tools/b24jssdk
NUXT_PUBLIC_SITE_URL=https://bitrix-tools.github.io
NUXT_PUBLIC_BASE_URL=/b24jssdk
NUXT_PUBLIC_CANONICAL_URL=https://bitrix-tools.github.io/b24jssdk
NUXT_PUBLIC_GIT_URL=https://github.com/bitrix-tools/b24jssdk
